@import url("@fontsource-variable/lexend/index.css");
@import url("@fortawesome/fontawesome-free/css/fontawesome.css");
@import url("@fortawesome/fontawesome-free/css/solid.css");
@import url("@fortawesome/fontawesome-free/css/brands.css");

$blue: #242A58;
$teal: #3A879B;
$brown: #A14D37;
$pink: #F17586;

$bg: desaturate(darken($blue, 10), 25);

* {
  box-sizing: border-box;
}

body {
  background: $bg;
  margin: 0;
  font-family: 'Lexend Variable', sans-serif;
}

a {
  color: inherit;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mainPage {
  font-size: 1.25em;
  max-width: min(100%, 60em);
  font-weight: 325;

  color: $bg;
  background: lighten($pink, 20);
  border: 5px solid $teal;
  border-radius: 20px;
  padding: 0 2em;
  margin: 3em;
  box-shadow: 0 3px 8px #0008;

  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: 2em;

  img, .imageContainer {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    vertical-align: bottom;
  }

  .imageContainer {
    position: relative;
    place-self: end center;

    p {
      color: $bg;
      position: absolute;
      bottom: 0;
      right: 10%;
      margin: 0;
      font-size: .75em;
    }
  }

  h1, h2 {
    text-align: center;
    font-weight: 450;
  }

  h1 {
    font-size: 1.75em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.1em;
    margin-top: 0;
  }

  .links {
    margin: auto;
    td:first-child {
      text-align: center;
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: darken($bg, 5);
  }
  .mainPage {
    background: desaturate(darken($pink, 55), 25);
    color: lighten($pink, 20);
  }
}


@media screen and (max-width: 65em) {
  .mainPage {
    margin: 1em;
  }
}

@media screen and (orientation: portrait) {
  .mainPage {
    grid-template-columns: unset;
    grid-template-rows: 60vw auto;
    padding: 2em 0;
    gap: 0;

    img {
      border-radius: 20%;

      border: 2px solid rgb(249, 226, 263);
      background: $bg;
    }
  }
  .imageContainer {
    height: 100%;
    p {
      position: unset !important;
      color: inherit !important;
    }
  }
  p {
    margin: 1em 1em 0;
    text-align: center;
  }
}
